.paragraph {
  border: solid 1px grey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

body {
  padding: 1.25em 2em;
}

textarea {
  min-height: 48vh;
  display: block;
  resize: none;
}

button {
  display: block;
}

.sentence {
  border: solid 1px grey;
  border-radius: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.sentence b {
  color: brown
}

.text-report {
  margin: 10px 0;
}
